<!DOCTYPE HTML>
<html>

<head>
    <title>Traffic</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main1.css') }}">
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cerulean/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> -->
</head>

<body class="is-preload" style="overflow-x: hidden; overflow-y: hidden;">
        <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Suggestions</h5>
            </div>
            <div class="modal-body">
            <h4>Some general suggestions to planners based on our data analysis - may be freeway wise</h4>
            </div>
        </div>
        </div>
    </div>
    <!-- Header -->
    <div id="header">

        <div class="top">

            <!-- Logo -->
            <div id="logo">
                <span class="image avatar48"><img src="{{url_for('static', filename='images/trafficaid.png')}}"
                        alt="" /></span>
                <h1 id="title">Traffic Aid</h1>
                <p>for planners and commuters</p>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li>
                        <div style="margin-right:128px">
                            <br /><br /><br /><br />
                            <form action="/data" method="post">
                                <div class="form-group" style="margin-left:20px">
                                    <select name="fwy" class="form-control" id="fwy">
                                        {% for each in liststatus %}

                                        <option value="{{each}}" {% if each == details[1] %} selected {% endif %}>
                                            {{each}}</option>

                                        {% endfor %}
                                    </select>

                                </div>
                                <div class="form-group" style="margin-left:20px">
                                    <input type="text" class="form-control" id="station" name="station"
                                        aria-describedby="station" placeholder="stationid" value='{{details[0]}}'><br />
                                </div>
                                <div class="form-group" style="margin-left:10px">
                                    <input class="form-control" value="{{details[2]}}" name="filterDate" type="date"
                                        id="filterDate" name="filterDate">
                                </div>
                        </div>
                    </li>
                </ul>
            </nav>
            <br />
            <div id="div" style="margin-right:40px">
                <button id="submit" class="btn btn-warning">Submit</button>
            </div>
            </form>

        </div>
        <script>
            $(document).ready(function () {
                $('#loadDiv').fadeOut(20000);
                //$("#loadDiv").show()
                $("#submit").click(function () {
                    $('#loadDiv').fadeOut(20000);
                    //$("#loadDiv").show()
                });
            });
        </script>
        <div class="bottom">
        </div>
    </div>
    <!-- Main -->
    <div id="main">
        <nav id="nav3" class="nav1" style="width: 100%;">
            <ul>
                <li><a href="/" style="color:#ffffff">Home</a></li>
                <li><a href="/aboutp" style="color:#ffffff">About</a></li>
                <li><a href="/data" class="active" style="color:#ffffff">Raw Data Analysis</a></li>
                <li><a href="/model" style="color:#ffffff">Model Evaluation</a></li>
                <!-- <li><a href="/prediction" style="color:#ffffff">Traffic Prediction</a></li> -->
            </ul>
        </nav>

        <!-- Raw Data Analysis -->
        <section id="dataAnalysis" class="three">
            <div class="container">
                <h2 style="margin-top:-15px;">
                    <br />
                    
                    <a href="#exampleModal" data-toggle="modal" style="color:black;">Suggestions</a>
                    
                    &nbsp&nbsp&nbsp&nbsp&nbsp</span>Dashboard for {{details[0]}}{{details[1]}} on {{details[2]}}      
                </h2>
                <table style="margin-left: 40px">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <div class="alert alert-dismissible alert-info">
                                        <div class="horizontalgap" style="width:70px"></div>
                                        <span class="image avatar48"><img
                                                src="{{url_for('static', filename='images/windspeed.png')}}"
                                                alt="" /></span>
                                        <br>
                                        <div class="horizontalgap" style="width:20px"></div>
                                        <a href="#" class="alert-link">Wind Speed: {{tiledetails[0]}}</a>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="alert alert-dismissible alert-info">
                                        <div class="horizontalgap" style="width:70px"></div>
                                        <span class="image avatar48"><img
                                                src="{{url_for('static', filename='images/precipitation.png')}}"
                                                alt="" /></span>
                                        <br>
                                        <div class="horizontalgap" style="width:20px"></div>
                                        <a href="#" class="alert-link">Precipitation: {{tiledetails[1]}}</a>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="alert alert-dismissible alert-info">
                                        <div class="horizontalgap" style="width:70px"></div>
                                        <span class="image avatar48"><img
                                                src="{{url_for('static', filename='images/visibility.png')}}"
                                                alt="" /></span>
                                        <br>
                                        <div class="horizontalgap" style="width:30px"></div>
                                        <a href="#" class="alert-link">Visibility: {{tiledetails[2]}}</a>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="alert alert-dismissible alert-info">
                                        <div class="horizontalgap" style="width:70px"></div>
                                        <span class="image avatar48"><img
                                                src="{{url_for('static', filename='images/incident.png')}}"
                                                alt="" /></span>
                                        <br>
                                        <div class="horizontalgap" style="width:30px"></div>
                                        <a href="#" class="alert-link">Incidents: {{tiledetails[3]}}</a>
                                    </div>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table style="margin-top: -50px;width: 80%;height: 50%;"><tr>
                                <td>
                                    <div class="alert alert-dismissible alert-info" style="width: 100%;">
                                        <span class="image avatar48"><img src="{{url_for('static', filename='images/trafficspeed.png')}}" alt="" /></span>
                                        <a href="#" class="alert-link">Traffic Speed: {{tiledetails[5]}}</a>
                                    </div>
                                    </td>
                                    <td>
                                        <div class="alert alert-dismissible alert-info" style="width: 100%;">
                                            <span class="image avatar48"><img src="{{url_for('static', filename='images/trafficspeed.png')}}" alt="" /></span>
                                            <a href="#" class="alert-link">Occupancy: {{tiledetails[4]}}</a>
                                        </div>
                                        </td>
                            </tr></table>
                            <table style="margin-top: -180px;">
                                <tr>
                                    <table><tr>
                                    <td>
                                        <iframe src="/getFoliumMap" style="height:350px; width:340px;"></iframe>
                                    </td>
                                    <td>
                                        <iframe src="/simple_chart"
                                            style="height:450px; width:540px; margin-top: -10px;margin-left: -400px;"
                                            overflow-x='hidden' overflow-y='hidden'></iframe>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <iframe src="/dual_chart" style="height:200px; width:720px;margin-top: -120px; overflow-x: hidden;"></iframe>
                                    </td>
                                </tr>
                                
                            </tr>
                            </table>        
                        </td>
                    </tr>
                </table>
            </div>
    </div>
    </section>

    </div>
    <style>
        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background-color: #81918Ecf;
        }

        .loader img {
            position: relative;
            left: 40%;
            top: 40%;
        }
    </style>

    <div id="loadDiv" class="loader"><img src="{{url_for('static', filename='images/car_loader_alpha-3.gif')}}"></div>

    <!-- Footer -->
    <div id="footer">

    </div>

    <!--Scripts-->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>