<!DOCTYPE HTML>
<html>
	<head>
		<title>Traffic</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/main1.css') }}">
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<!--<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}">-->
	</head>
	<body class="is-preload">
		<!-- Main -->
			<div id="main" style="margin-left: 0px;">
				<nav id="nav3" style="width: 3000px;max-width: calc(100% - 0em);" class="nav1">
					<ul>
						<li><a href="#home" class="active" style="color:#ffffff">Home</a></li>
						<li><a href="/about" style="color:#ffffff">Project Synopsys</a></li>
						<li><a href="/data" style="color:#ffffff">Raw Data Analysis</a></li>
						<li><a href="/model" style="color:#ffffff">Model Evaluation</a></li>
						<li><a href="/prediction" style="color:#ffffff">Traffic Prediction</a></li>
					</ul>
				</nav>
				<!-- Home -->
					<section id="home" class="one dark cover">
						<div class="container">

							<header style="font-family: Arial Bold; font-size: 35px;">
								<h2 class="alt">Welcome to <strong>Traffic Aid</strong>, a Web application to help<br />
								traffic planners and commuters<br/></h2>
							</header>

							<footer>
							<br/><br/><br/><br/><br/><br/><br/><br/>
							</footer>

						</div>
					</section>
			</div>

		<!-- Footer -->
			<div id="footer">

			</div>

		<!--Scripts-->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	</body>
</html>
