<!DOCTYPE HTML>
<html>
<head>
    <title>Traffic</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main1.css') }}">
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<body class="is-preload" style="overflow-x: hidden;">
<!-- Header -->
<div id="header">

    <div class="top">

        <!-- Logo -->
        <div id="logo">
            <span class="image avatar48"><img src="{{url_for('static', filename='images/trafficaid.png')}}" alt="" /></span>
            <h1 id="title">Traffic Aid</h1>
            <p>for planners and commuters</p>
        </div>
<br/>
        <br/>
        <br/>
        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li>
                    <div style="margin-right:128px">
                        <br/><br/>
                        <form id="filterForm" action="javascript:return false;">
                            <div class="form-group" style="margin-left:20px">
                                <input type="text" class="form-control" id="station" aria-describedby="station" placeholder="stationid" value="400001"><br/>
                            </div>
                            <div class="form-group" style="margin-left:20px">
                                <select name="fwy" class="form-control" id="selval">
                                    <option value="" disabled selected>Select a Value</option>
                                    <option>Prediction</option>
                                    <option>Metrics</option>
                                </select>
                            </div>
                    </div>
                </li>
            </ul>
        </nav>


        <!--Refresh-->
        <script>
        $(document).ready(function() {
            $("#metrics1").hide();
            $("#ap2").hide();
            $("#metrics2").hide();
            $("#station").val("400001")
            $("#selval").val("Prediction")
            $("#submitbtn").click(function() {
                var station = $("#station").val()
                var sel_val = $("#selval").val()
                if(station=="400001" && sel_val=="Metrics"){
                    $("#ap1").hide();
                    $("#metrics1").show();
                    $("#ap2").hide();
                    $("#metrics2").hide();
                    $("#station").val("400001")
                    $("#selval").val("Metrics")
                }
                else if(station=="401871" && sel_val=="Prediction"){
                    $("#ap1").hide();
                    $("#metrics1").hide();
                    $("#ap2").show();
                    $("#metrics2").hide();
                    $("#station").val("401871")
                    $("#selval").val("Prediction")
                }
                else if(station=="401871" && sel_val=="Metrics"){
                    $("#ap1").hide();
                    $("#metrics1").hide();
                    $("#ap2").hide();
                    $("#metrics2").show();
                    $("#station").val("401871")
                    $("#selval").val("Metrics")
                }
                else {
                    $("#ap1").show();
                    $("#metrics1").hide();
                    $("#ap2").hide();
                    $("#metrics2").hide();
                    $("#station").val("400001")
                    $("#selval").val("Prediction")
                }
                
                
            });
        });
        </script>
        <br/>
        <div id="div" style="margin-right:40px">
            <button id="submitbtn" class="btn btn-warning">Submit</button>
        </div>
    </form>
    </div>

    <div class="bottom">
    </div>
</div>
<!-- Main -->
<div id="main">
    <nav id="nav3" class="nav1" style="width: 100%;">
        <ul>
            <li><a href="/" style="color:#ffffff">Home</a></li>
            <li><a href="/aboutp" style="color:#ffffff">About</a></li>
            <li><a href="/data" style="color:#ffffff">Raw Data Analysis</a></li>
            <li><a href="/model" class="active" style="color:#ffffff">Model Evaluation</a></li>
            <!-- <li><a href="/prediction" style="color:#ffffff">Traffic Prediction</a></li> -->
        </ul>
    </nav>

    <!-- Model -->
    <section id="model" class="two">
        <div class="container">
            <br>
            <div style="width:50%;height:50%;margin-left:-180px">
            <div id="ap1" style='position: relative;margin-left:200px;'>
                <div class='tableauPlaceholder' id='viz1588920781886' style='position: relative;'>
                    <noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Sp&#47;SpeedPrediction_400001&#47;Dashboard2&#47;1_rss.png' style='border: none' /></a></noscript>
                    <object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> 
                        <param name='site_root' value='' /><param name='name' value='SpeedPrediction_400001&#47;Dashboard2' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Sp&#47;SpeedPrediction_400001&#47;Dashboard2&#47;1.png' /> 
                        <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' />
                    </object>
                </div> 
            </div>               
            <script type='text/javascript'>                    
            var divElement = document.getElementById('viz1588920781886');                    
            var vizElement = divElement.getElementsByTagName('object')[0];                    
            if ( divElement.offsetWidth > 800 ) 
            { vizElement.style.width='1000px';vizElement.style.height='827px';} 
            else if ( divElement.offsetWidth > 500 ) 
            { vizElement.style.width='1000px';vizElement.style.height='827px';} 
            else { vizElement.style.width='1500px';vizElement.style.height='827px';} 
            var scriptElement = document.createElement('script');    
                          scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
        </div>
           
        <div style="width:80px;height:1000px;margin-left:-180px">
            <div id="metrics1" style='position: relative;margin-left:200px;'>
            <div class='tableauPlaceholder' id='viz1588990939559' style='position: relative'>
                <noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Me&#47;Metrics_400001&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript>
                <object class='tableauViz'  style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                     <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
                     <param name='name' value='Metrics_400001&#47;Dashboard1' /><param name='tabs' value='no' />
                     <param name='toolbar' value='yes' />
                     <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Me&#47;Metrics_400001&#47;Dashboard1&#47;1.png' /> 
                     <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
                     <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
                     <param name='display_count' value='yes' />
                    </object>
                </div>  
        </div>  
        </div>            
                     <script type='text/javascript'>                    
                     var divElement = document.getElementById('viz1588990939559');
                     var vizElement = divElement.getElementsByTagName('object')[0]; 
                     if ( divElement.offsetWidth > 800 ) { vizElement.style.width='950px';vizElement.style.height='827px';} 
                     else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='950px';vizElement.style.height='827px';} 
                     else { vizElement.style.width='950px';vizElement.style.height='827px';}                     
                     var scriptElement = document.createElement('script');                    
                     scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                     vizElement.parentNode.insertBefore(scriptElement, vizElement);               
                    </script>
                <!-- <div style="width:80px;height:1000px;margin-left:-30px;margin-top:-600px;">     -->
                    <div style="width:50%;height:100%;margin-left:-170px;margin-top:-1000px">
                    <div id="ap2" style='position: relative;margin-left:200px;margin-top:-10px'>
                <div class='tableauPlaceholder' id='viz1588991166263'><noscript><a href='#'>
                    <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Sp&#47;SpeedPrediction_401871&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript>
                    <object class='tableauViz'  style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                        <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
                        <param name='name' value='SpeedPrediction_401871&#47;Dashboard1' />
                        <param name='tabs' value='no' /><param name='toolbar' value='yes' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Sp&#47;SpeedPrediction_401871&#47;Dashboard1&#47;1.png' />
                        <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' /><param name='display_count' value='yes' />
                    </object>
                </div>    
                </div>  
            </div>          
                <script type='text/javascript'>                    
                var divElement = document.getElementById('viz1588991166263');                    
                var vizElement = divElement.getElementsByTagName('object')[0];                    
                if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
                else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
                else { vizElement.style.width='1000px';vizElement.style.height='1000px';}                     
                var scriptElement = document.createElement('script');                    
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                vizElement.parentNode.insertBefore(scriptElement, vizElement);                
                </script>
 <div style="width:80px;height:1000px;margin-left:-160px;margin-top:-1000px;">               
<div id="metrics2" style='position: relative;margin-left:200px;'>
                <div class='tableauPlaceholder' id='viz1588991291491' style='position: relative'>
                    <noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Me&#47;Metrics-401871&#47;Dashboard2&#47;1_rss.png' style='border: none' /></a></noscript>
                    <object class='tableauViz'  style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                        <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
                        <param name='name' value='Metrics-401871&#47;Dashboard2' /><param name='tabs' value='no' />
                        <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Me&#47;Metrics-401871&#47;Dashboard2&#47;1.png' />
                        <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                    </object>
                </div>  
</div>  
</div>            
                        <script type='text/javascript'>                    
                        var divElement = document.getElementById('viz1588991291491');                    
                        var vizElement = divElement.getElementsByTagName('object')[0];                    
                        if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
                        else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
                        else { vizElement.style.width='1000px';vizElement.style.height='727px';}                     
                        var scriptElement = document.createElement('script');                    
                        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                        vizElement.parentNode.insertBefore(scriptElement, vizElement);                
                        </script>
        </div>
    </section>
</div>

<!-- Footer -->
<div id="footer">

</div>

<!--Scripts-->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
